<!DOCTYPE html>  

    <%- include("../partials/head"); %>

    <body class="container">

        <%- include("../partials/header"); %>

        <Main>
            <div class="jumbotron">
                <h1>Sobre Mim</h1>
                <p>Olá a todos! Sou Adam Smith instrutor neste curso</p>
            </div>
        </Main>

        <%- include("../partials/footer"); %>

    </body>
</html>