<header>
    
    <nav class="navbar navbar-expand-lg navibar-light bg-light">
        <a class="navbar-brand " href="/">EJS</a>
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link" href = "/" >Home</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "/sobre" >Sobre</a>
            </li>
        </ul>
    </nav>
    <br>
    <!--
        Quando nao passa o parametro pagina no index ele faz esta condicao e coloca Home em pagina
    -->
    <p>Pagina: <%= typeof pagina != "undefined" ? pagina: "Home" %></p>
    <br>
</header>