.button {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: .4rem;
    margin: 5px;
    border-radius: 5px;
}

button img {
    padding: 5px;
    height: 3rem;
    width: 3rem;
    align-items: center;    
}